/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 footer{
  .card-footer{background-color:#fff;}
 }

 .main{
  margin-bottom:100px;
  padding-top:100px;
 }

 #box{
  height: 400px;
  margin-top: 30px;
 }

 .image1 {
  background-image: image-url("jac.jpg");
  width: 400px !important;
  height: 420px !important;
  margin-left: 340px;
 }

 .image2 {
  background-image: image-url("top6.jpg");
  width: 460px !important;
  height: 420px !important;
  margin-left: 310px;
 }

 .field_with_errors{
  display: contents;
 }

 #map {
  height: 300px;
 }

 #login {
  width: 570px;
  height: 50px;
  margin: auto;
  background-color:#eeeeee;
 }

 #logins {
  width: 570px;
  margin: auto;
  padding: 30px;
  font-size: 16px;
 }

 #box1 {
  width: 700px;
  height: 50px;
  margin: auto;
  padding: auto;
  background-color:#eeeeee;
 }

 #box2 {
  width: 700px;
  margin: auto;
  padding: 30px 50px 50px 50px;
  font-size: 16px;
 }

 #box4 {
  width: 700px;
  height: 50px;
  margin: auto;
  padding: auto;
  background-color:#eeeeee;
 }

 #box5 {
  width: 700px;
  margin: auto;
  padding: 10px 50px 50px 50px;
  font-size: 16px;
 }

#box3 {
  width: 650px;
  height: 330px;
  font-size: 16px;
 }

  #box8 {
  width: 800px;
  height: 50px;
  margin: auto;
  background-color:#eeeeee;
 }

 #box9 {
  width: 800px;
  margin: auto;
  padding: 50px;
  font-size: 16px;
 }

 #text {
  margin-left: 236px;
 }

 #text1 {
  width: 200px;
  height: 40px;
 }

 #text2 {
  width: 500px;
 }

.container {
  display: block;
  font-size: 0;
}

 #contact {
  width: 700px;
  margin-left: 250px;
  padding: 20px;
  font-size: 16px;
 }